@import '%/styles/util.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
  height: 135px;
  transition: height 300ms ease-in-out, box-shadow 300ms ease-in-out, background-color 200ms ease-in-out;
  
  &.shrink {
    background-color: var(--page-background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 80px;
  }
  
  .container {
    width: var(--block-width);
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      flex-direction: row;
    }

    .left {      
      display: flex;
      align-items: center;
      gap: 20px;

      .leftContent {
        display: flex;
        align-items: center;
        gap: 83px;
        
        @media screen and (max-width: 650px) {
          display: none;
        }

        .navigation {
          display: flex;
          align-items: stretch;
          gap: 44px;

          @media screen and (max-width: 1200px) {
            display: none;
          }

          a {
            color: var(--primary-text-color);
            @include defaultTransition(color);

            &:hover {
              color: #F56B18;
            }
          }
        }
      }

      .mobileMenuButton {
        display: none;
        color: var(--primary-text-color);
        @include defaultTransition(color);

        div:nth-child(1) {
          z-index: 3;
        }
        
        @media screen and (max-width: 1200px) {
          display: block;
        }

        .mobileMenu {
          opacity: 0;
          pointer-events: none;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: var(--page-background);
          @include defaultTransition((opacity, background-color));
          z-index: 2;
          padding: 135px 30px 30px;
          background-image: url('./mobileMenuBackground.svg');
          background-repeat: no-repeat;
          background-position: right center;
          background-size: cover;
          -webkit-overflow-scrolling: touch; // safari fix

          &.show {
            opacity: 1;
            pointer-events: all;
          }

          .navigation {
            display: flex;
            flex-direction: column;
            gap: 42px;

            a {
              display: block;
              width: fit-content;
              font-family: 'SF Pro Display';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.02em;
              color: var(--primary-text-color);
              @include defaultTransition(color);
            }
          }

          .themeSwitcher {
            margin-top: 42px;
            width: fit-content;
            display: none;

            [class*=icons] {
              z-index: 4;
            }
  
            @media screen and (max-width: 650px) {
              display: block;
            }
          }
        }
      }
    }

    .mobileThemeSwitcher {
      display: none;

      @media screen and (max-width: 650px) {
        display: block;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 68px;

      @media screen and (max-width: 1200px) {
        gap: 20px;
      }

      .themeSwitcher {
        @media screen and (max-width: 650px) {
          display: none;
        }
      }

      .signOptions {
        display: flex;
        gap: 28px;
      
        .registration {
          cursor: pointer;
          color: var(--primary-text-color);
          @include defaultTransition(color);
          border: none;
          background-color: transparent;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.02px;

          &:hover {
            color: #F56B18;
          }
        }
      }
    }
  }
}