@import '%/styles/util.scss';

.inputContainer {
  .input {
    height: 44px;
    padding: 12px;
    background: var(--card-background);
    border-radius: 100px;
    color: var(--primary-text-color);
    border: 1px solid var(--input-border-color);
    
    &Center{
      text-align: center;
    }
    
    &::placeholder {
      color: var(--text-color-light-gray)
    }
    
    &:focus {
      outline: none;
    }
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}


