@import '%/styles/util.scss';

.buttonContainer {
  width: fit-content;
  border-radius: 99px;

  .button {
    transition: transform 80ms ease-out;
    border-radius: 99px;

    &:hover {
      transform: scale(1.025);
    }

    &.pressed {
      transform: scale(0.95);
    }

    .muiButton {
      text-transform: none;
      border-radius: 99px;
      
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02px;

      padding: 15px 28px;

      @include defaultTransition(background);
      @include defaultTransition(color);
      
      &.icon {
        min-width: 0;
        padding: 13px;
        box-sizing: border-box;

        svg {
          $size: 20px;
          width: $size;
          height: $size;
        }
      }
    
      &.contained {
        background: linear-gradient(to right, #FBB34C, #F56B18);
        color: #fff;
      }

      &.outlined {
        border: 1px solid #EBEBEB;
        color: var(--primary-text-color);

        background: var(--outlined-button-background); // Sometimes button overlaps with background image
      }
    }
  }
}