@import '%/styles/util.scss';

.container {
  display: flex;
  align-items: center;
  gap: 12px;

  .pagesCounter {
    color: var(--primary-text-color);
    @include defaultTransition(color);

    span {
      color: #F7862B;
    }
  }
}