@import '%/styles/util.scss';

.usefulFunctions {
  width: var(--block-width);

  .tabs {
    display: flex;
    gap: 10px;
  }

  .masonryContainer {
    width: var(--block-width);
    
    .masonry {
      margin-top: 45px;
    }
    
    [class~=MuiMasonry-root] {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }

  .card {
    padding: 30px;
    border-radius: 38px;
    background: var(--card-background);
    @include defaultTransition(background-color);
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.09);

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
        color: var(--primary-text-color);
        @include defaultTransition(color);
      }

      .icon {
        padding: 17px;
        border-radius: 99px;
        border: 1px solid #E7E7E7;
        display: flex;
        justify-content: center;

        svg {
          fill: #FBB34C;
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 26px;
      margin-top: 26px;

      ol {
        padding: 0;
        color: var(--secondary-text-color);
        @include defaultTransition(color);
        display: flex;
        gap: 15px;

        svg path {
          fill: var(--secondary-text-color) !important;
          @include defaultTransition(fill);
        }
      }
    }
  }

  .carousel {
    touch-action: pan-y;
    
    .controls {
      margin: 21px 0;
      display: flex;
      justify-content: flex-end;
    }

    $carouselHeight: 431px;
    .slider {
      position: absolute;
      width: 100vw;
      height: $carouselHeight;
      left: 0;
      $verticalOffset: 25px;

      & > * {
        // width: calc(100vw - #{$verticalOffset*2});
        // margin: 0 $verticalOffset;
        width: 100vw;
      }

      .card {
        width: calc(100vw - #{$verticalOffset*2});
        margin: 0 $verticalOffset;
      }
      
      [class=slick-list] {
        padding: 25px $verticalOffset !important;


      }
    }

    .sliderPlaceholder {
      height: $carouselHeight;
    }
  }
}