.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  $verticalOffset: 25px;
  padding: 25px $verticalOffset  !important;
  padding-right: 200px;
  scroll-padding: calc(calc(calc(100% - var(--block-width)) / 2) - 22px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @media screen and (max-width: 650px) {
    scroll-padding: 0;

    & > *:nth-child(1) {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    scroll-snap-align: start;
  }

  & > *:nth-child(2) {
    margin-left: calc(calc(calc(100% - var(--block-width)) / 2) - 22px) !important;
  }

  & > *:nth-last-child(1) {
    scroll-snap-align: none;
  }

  .safariFixEnd {
    width: 100vw;
    
  }
}