@import '%/styles/util.scss';

.subheading {
  display: flex;
  align-items: center;
  gap: 28px;

  @media screen and (max-width: 650px) {
    justify-content: space-between;
  }

  .mobileControls {
    display: none;
    --outlined-button-background: var(--page-background);

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
 }

$carouselHeight: 502px;
.cardsContainer {
  height: $carouselHeight + 11px*2;

  .carouselContainer {
    position: absolute;
    width: 100%;
    height: $carouselHeight;
    left: 0;
    touch-action: pan-y;

    $verticalOffset: 25px;

    .card {
      width: 386px;
      overflow: auto;
      flex-direction: column;
      margin-left: $verticalOffset;
      
      @media screen and (max-width: 650px) {
        // height: $carouselHeight;
        display: flex;
        width: calc(100vw - #{$verticalOffset*2});
      }

      p {
        flex: 1;
        
        @supports (-webkit-line-clamp: 5) {
          flex: unset;
          -webkit-line-clamp: 5;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }

    & > div { // slider
      @media screen and (max-width: 1299px) and (min-width: 651px) {
        div:nth-child(2) div {
          margin-left: 0;
        }
      }
    }
  }
}

.cardsContainer {
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto auto;
  column-gap: 36px;
  row-gap: 50px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 30px;
  border-radius: 38px;
  background: var(--card-background);
  @include defaultTransition(background-color);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.09);

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      margin: 0;
      margin-top: 10px;
      color: var(--primary-text-color);
      @include defaultTransition(color);
    }

    .icon {
      padding: 17px;
      border-radius: 99px;
      border: 1px solid #E7E7E7;
      display: flex;
      justify-content: center;
    }
  }

  p {
    font-size: 16px;
    color: var(--secondary-text-color);
    @include defaultTransition(color);
    margin-top: 20px;
    margin-bottom: 22px;
    line-height: 24px;
    letter-spacing: 0.01em;
  }

  .revenue {
    margin-top: auto;
    margin-bottom: 22px;
    color: var(--primary-text-color);
    @include defaultTransition(color);
    line-height: 1.7;
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 430px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}

.loadMore {
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
}