@import '%/styles/util.scss';

.products {
  width: var(--block-width);
  margin-top: 20px;

  h3 {
    font-size: 22px;
    color: var(--primary-text-color);
    @include defaultTransition(color);
  }
}