@import '%/styles/util.scss';

.subheading {
  display: flex;
  gap: 28px;

  @media screen and (max-width: 650px) {
    justify-content: space-between;
  }
}

$verticalOffset: 25px;
$carouselHeight: 575px + $verticalOffset * 2;
.cardsContainer {
  height: $carouselHeight;

  .carouselContainer {
    position: absolute;
    width: 100%;
    height: $carouselHeight;
    left: 0;
    touch-action: pan-y;
  }
}

.card {
  width: 100vw;
  max-width: 626px;
  margin: 11px;
  border-radius: 30px;
  height: 553px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  $screenOffset: 18px + 22px;
  $maxWidth: calc(100vw - #{$screenOffset * 2});

  @media screen and (max-width: 650px) {
    $screenOffset: 18px + 4px;
    $maxWidth: calc(100vw - #{$screenOffset * 2});
    margin: 22px;
  }

  .image {
    flex: 1;
    border: 1px solid var(--border-color);
    @include defaultTransition(border);
    filter: drop-shadow(0px 0px 19px rgba(0, 0, 0, 0.09));
    border-radius: 27px;
    overflow: hidden;
    max-height: 348px;
    max-width: $maxWidth;

    @media screen and (max-width: 650px) {
      flex: unset;

      & > span {
        display: block !important;
      }
    }
  }

  h4 {
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 16px;
    max-width: $maxWidth;

    color: var(--primary-text-color);
    @include defaultTransition(color);
  }

  p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 22px;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-width: $maxWidth;

    color: var(--secondary-text-color);
    @include defaultTransition(color);

    @media screen and (max-width: 650px) {
      -webkit-line-clamp: 6;
    }
  }
}
