@import '%/styles/util.scss';

.text {
  font-size: 28px;
  display: flex;
  align-items: stretch;
  gap: 11px;
  color: var(--primary-text-color);
  @include defaultTransition(color);

  .preTextDecoration {
    background: linear-gradient(180deg, #FBB34C 0.76%, #F56B18 100.76%);
    border-radius: 100px;
    width: 6px;
    margin: 8px 0;
    display: block;
  }
}