@import '%/styles/util.scss';

.automaticWithdrawal {
  width: var(--block-width);

  p {
    color: var(--secondary-text-color);
    @include defaultTransition(color);
  }

  .methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;

    .method {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 20px;
      width: 317px;
      color: var(--card-background);
      @include defaultTransition(color);

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      span {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        align-self: flex-start;
        color: var(--primary-text-color);
        @include defaultTransition(color);
      }
  
      &:nth-child(3) svg {
        align-self: flex-start;
      }
  
      &:nth-child(2) svg {
        align-self: center;
      }
  
      &:nth-child(1) svg {
        align-self: flex-end;
      }
    }

    path[d="M47.794 168.925V166.669C47.794 165.806 47.2776 165.241 46.3911 165.241C45.9478 165.241 45.4658 165.39 45.1344 165.88C44.8762 165.468 44.5061 165.241 43.951 165.241C43.5809 165.241 43.2108 165.355 42.9182 165.766V165.315H42.1436V168.925H42.9182V166.932C42.9182 166.292 43.2495 165.99 43.766 165.99C44.2824 165.99 44.5406 166.327 44.5406 166.932V168.925H45.3152V166.932C45.3152 166.292 45.6853 165.99 46.163 165.99C46.6794 165.99 46.9376 166.327 46.9376 166.932V168.925H47.794ZM59.2842 165.315H58.0276V164.224H57.2529V165.315H56.5515V166.029H57.2529V167.685C57.2529 168.514 57.5843 169 58.4708 169C58.8022 169 59.1723 168.886 59.4305 168.737L59.2067 168.058C58.9829 168.207 58.7247 168.246 58.5397 168.246C58.1696 168.246 58.0233 168.018 58.0233 167.646V166.029H59.2799V165.315H59.2842ZM65.8598 165.236C65.4166 165.236 65.1196 165.464 64.9346 165.762V165.311H64.16V168.921H64.9346V166.888C64.9346 166.288 65.1928 165.946 65.6748 165.946C65.8211 165.946 66.0061 165.985 66.1568 166.02L66.3805 165.267C66.2256 165.236 66.0061 165.236 65.8598 165.236ZM55.9232 165.613C55.5531 165.35 55.0367 165.236 54.4815 165.236C53.595 165.236 53.0054 165.687 53.0054 166.402C53.0054 167.002 53.4487 167.344 54.2233 167.453L54.5934 167.493C54.9979 167.567 55.2217 167.681 55.2217 167.869C55.2217 168.132 54.9248 168.321 54.4084 168.321C53.892 168.321 53.4831 168.132 53.2249 167.944L52.8548 168.544C53.2593 168.847 53.8145 168.995 54.3696 168.995C55.4025 168.995 55.9963 168.505 55.9963 167.83C55.9963 167.19 55.5144 166.853 54.7785 166.739L54.4084 166.7C54.077 166.66 53.8188 166.586 53.8188 166.362C53.8188 166.099 54.077 165.95 54.4858 165.95C54.9291 165.95 55.3723 166.139 55.5961 166.253L55.9232 165.613ZM76.5324 165.236C76.0891 165.236 75.7922 165.464 75.6071 165.762V165.311H74.8325V168.921H75.6071V166.888C75.6071 166.288 75.8653 165.946 76.3473 165.946C76.4936 165.946 76.6787 165.985 76.8293 166.02L77.0531 165.276C76.9025 165.236 76.683 165.236 76.5324 165.236ZM66.6345 167.12C66.6345 168.211 67.3746 169 68.5194 169C69.0358 169 69.4059 168.886 69.776 168.588L69.4059 167.948C69.1089 168.176 68.8163 168.286 68.4806 168.286C67.8523 168.286 67.4091 167.834 67.4091 167.12C67.4091 166.441 67.8523 165.99 68.4806 165.955C68.812 165.955 69.1089 166.069 69.4059 166.292L69.776 165.652C69.4059 165.35 69.0358 165.241 68.5194 165.241C67.3746 165.236 66.6345 166.029 66.6345 167.12ZM73.7997 167.12V165.315H73.0251V165.766C72.7669 165.429 72.3968 165.241 71.9148 165.241C70.9164 165.241 70.1418 166.029 70.1418 167.12C70.1418 168.211 70.9164 169 71.9148 169C72.4312 169 72.8013 168.811 73.0251 168.474V168.925H73.7997V167.12ZM70.9551 167.12C70.9551 166.481 71.3596 165.955 72.0267 165.955C72.655 165.955 73.0982 166.445 73.0982 167.12C73.0982 167.76 72.655 168.286 72.0267 168.286C71.3639 168.246 70.9551 167.756 70.9551 167.12ZM61.6855 165.236C60.6527 165.236 59.9125 165.99 59.9125 167.116C59.9125 168.246 60.6527 168.995 61.7242 168.995C62.2406 168.995 62.757 168.847 63.1659 168.505L62.7958 167.94C62.4988 168.167 62.1287 168.316 61.763 168.316C61.281 168.316 60.8033 168.089 60.6914 167.453H63.3122C63.3122 167.339 63.3122 167.265 63.3122 167.151C63.3466 165.99 62.6796 165.236 61.6855 165.236ZM61.6855 165.915C62.1675 165.915 62.4988 166.218 62.572 166.778H60.7258C60.799 166.292 61.1303 165.915 61.6855 165.915ZM80.9305 167.12V163.887H80.1559V165.766C79.8977 165.429 79.5276 165.241 79.0456 165.241C78.0472 165.241 77.2726 166.029 77.2726 167.12C77.2726 168.211 78.0472 169 79.0456 169C79.562 169 79.9321 168.811 80.1559 168.474V168.925H80.9305V167.12ZM78.0859 167.12C78.0859 166.481 78.4904 165.955 79.1575 165.955C79.7858 165.955 80.229 166.445 80.229 167.12C80.229 167.76 79.7858 168.286 79.1575 168.286C78.4904 168.246 78.0859 167.756 78.0859 167.12ZM52.1534 167.12V165.315H51.3787V165.766C51.1205 165.429 50.7504 165.241 50.2685 165.241C49.2701 165.241 48.4954 166.029 48.4954 167.12C48.4954 168.211 49.2701 169 50.2685 169C50.7849 169 51.155 168.811 51.3787 168.474V168.925H52.1534V167.12ZM49.2744 167.12C49.2744 166.481 49.6789 165.955 50.3459 165.955C50.9742 165.955 51.4175 166.445 51.4175 167.12C51.4175 167.76 50.9742 168.286 50.3459 168.286C49.6789 168.246 49.2744 167.756 49.2744 167.12Z"] {
      // дефолт боже чел
      fill: var(--absolute-text-color);
      @include defaultTransition(fill);
    }
  }
}

.start {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}