@import '../../styles/util.scss';

.grid {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, 1fr);

  row-gap: 0px;
  column-gap: 300px;

  .headline {
    grid-area: 1 / 1 / 2 / 2;
    
    h1 {
      color: var(--primary-text-color);
      @include defaultTransition(color);

      line-height: 1.54;
      font-size: 42px;
      margin-top: 0;
      
      .highlight {
        color: #f0802a;
      }
    }

    p {
      color: var(--secondary-text-color);
      @include defaultTransition(color);

      max-width: 540px;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  .phone {
    grid-area: 1 / 2 / 3 / 3;
  }

  .cards {
    grid-area: 2 / 1 / 3 / 2;

    .cardsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      $gap: 25px;
      grid-column-gap: $gap;
      grid-row-gap: $gap;
    }
  }
  
  @media screen and (max-width: 1500px) {
    column-gap: 100px;
  }
  
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin: 0 40px;
    row-gap: 100px;
  
    .headline {
      grid-area: 1 / 1 / 2 / 3;
    }
  
    .cards {
      grid-area: 2 / 1 / 3 / 2;

      .cardsContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
      }
    }
  
    .phone {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 0;
    row-gap: 40px;
    margin: 0 20px;

    .headline {
      grid-area: 1 / 1 / 2 / 3;

      h1 {
        font-size: 30px;
      }
    }

    .phone {
      grid-area: 2 / 1 / 3 / 2;

      display: flex;
      justify-content: center;
    }

    .cards {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
}

.card {
  border-radius: 30px;
  background-color: var(--card-background);
  @include defaultTransition(background-color);
  padding: 29px 40px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: space-between;

    .number {
      font-weight: 700;
      font-size: 30px;
      color: var(--primary-text-color);
      @include defaultTransition(color);;
    }
  }

  .bottom {
    margin-top: 16px;

    .text {
      font-family: 'SF Pro Display';
      font-weight: 400;
      font-size: 16px;
      color: var(--secondary-text-color);
    }
  }
}