@import '%/styles/util.scss';

.footer {
  height: 76px;
  border-top: 1px solid var(--secondary-border-color);
  background-color: var(--page-background);
  @include defaultTransition((border-color, background-color)); 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 calc(calc(100% - var(--block-width)) / 2);
  gap: 40px;

  a {
    color: var(--primary-text-color);
    @include defaultTransition(color);
  }

  span {
    color: var(--secondary-text-color);
    @include defaultTransition(color);
  }

  @media screen and (max-width: 650px) {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}