@import '%/styles/util.scss';

@mixin _absoluteCenter {
  right: unset;
  left: 50%;
  transform: translateX(-50%) !important; // react-reveal
  animation: none !important;
}

.howItWorks {
  width: var(--block-width);

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 75px;

    @media screen and (max-width: 960px) {
      li:nth-child(1) .step {
        padding-bottom: 580px;
      }
      li:nth-child(2) .step {
        padding-bottom: 300px;
      }
      li:nth-child(3) .step {
        padding-bottom: 500px;
      }
    }


    & > li:nth-child(3) {
      margin-top: 80px;
    }

    @media screen and (max-width: 650px) {
      li:nth-child(1) .step {
        padding-bottom: 1200px;
      }

      li:nth-child(3) {
        margin-top: 0;

        .step {
          padding-bottom: 400px;
        }
      }
    }

    .step {
      position: relative;

      .info {

        .stepIndex {
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 700;
          font-size: 100px;
          line-height: 119px;
          letter-spacing: 0.01em;
          background: linear-gradient(90deg, #FBB34C 0.76%, #F56B18 100.76%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        h3 {
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 26px;
          color: var(--primary-text-color);
          @include defaultTransition(color);
        }

        p {
          width: 540px;

          @media screen and (max-width: 960px) {
            width: 100%;
          }

          font-size: 16px;
          line-height: 1.5;
          color: var(--secondary-text-color);
          @include defaultTransition(color);
        }
      }

      .sourceConnection {
        .tablet {
          margin-top: 30px;

          @media screen and (max-width: 960px) {
            margin-top: unset;
            position: absolute;
            left: -368px;
            top: 303px;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 770px;
            width: 100%;
            height: 313.86px;
            display: flex;
            align-items: flex-end;
          }
        }

        .phone {
          position: absolute;
          right: 0;
          top: 130px;
          
          @media screen and (max-width: 1200px) {
            top: 329px;
          }

          @media screen and (max-width: 960px) {
            top: 378px;
            left: 45%;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 1180px;

            // probably the most elegant method to crop
            height: 261px;
            overflow-y: hidden;
          }
        }

        .label {
          padding: 30px 45px;
          background: var(--card-background);
          @include defaultTransition(background-color);
          box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.09);
          border-radius: 28px;
          position: absolute;

          span {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            background: linear-gradient(90deg, #FBB34C 0.76%, #F56B18 100.76%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }

        .robot {
          position: absolute;
          left: 718px;
          top: 50px;

          @media screen and (max-width: 1200px) {
            left: unset;
            top: -158px;
            right: 0px;
          }

          @media screen and (max-width: 960px) {
            top: 300px;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 386px;
          }
        }

        .sites {
          left: 441px;
          top: 443px;

          @media screen and (max-width: 960px) {
            left: 70px;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 1036px;
          }
        }

        .bots {
          left: 667px;
          top: 306px;

          @media screen and (max-width: 1200px) {
            left: unset;
            top: 96px;
            right: 106px;
          }

          @media screen and (max-width: 960px) {
            top: 560px;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 645px;
          }
        }

        .apps {
          left: 853px;
          top: 443px;

          @media screen and (max-width: 1200px) {
            left: unset;
            right: 79px;
            top: 609px;
          }

          @media screen and (max-width: 960px) {
            left: 36%;
            right: unset;
            top: 747px;
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
            top: 1411px;
          }
        }

        .logo {
          position: absolute;
          left: 663px;
          top: 475px;

          @media screen and (max-width: 1200px) {
            left: unset;
            top: 230px;
            right: 94px;
          }

          @media screen and (max-width: 960px) {
            left: 48%;
            right: unset;
            top: 320px;            
          }

          @media screen and (max-width: 650px) {
            @include _absoluteCenter;
          }
        }
      }

      .attractingUsers {
        position: absolute;
        right: 0;
        top: 0;

        @media screen and (max-width: 1200px) {
          right: unset;
          top: 0;
          left: 631px;
        }

        @media screen and (max-width: 960px) {
          top: unset;
          left: 0;
          bottom: 0px;
        }

        @media screen and (max-width: 650px) {
          svg {
            width: 100%;
          }
        }
      }

      .revenueAndWithdrawal {
        position: absolute;
        right: 0;
        top: -10px;
        width: fit-content;

        @media screen and (max-width: 1200px) {
          left: 586px;
          right: unset;
        }

        @media screen and (max-width: 960px) {
          top: unset;
          left: 0;
          bottom: 0px;
        }
      }
    }
  }
}