@import '%/styles/util.scss';

.subheading {
  display: flex;
  gap: 28px;

  @media screen and (max-width: 650px) {
    justify-content: space-between;
  }
}

$carouselHeight: 436px;
.cardsContainer {
  height: $carouselHeight;

  .carouselContainer {
    position: absolute;
    width: 100%;
    height: $carouselHeight;
    left: 0;
    touch-action: pan-y;
  
    $verticalOffset: 25px;
  }
}

.card {
  width: 408px;
  height: 418px;

  background: var(--card-background);
  @include defaultTransition(background-color);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.09);

  margin: 11px;
  padding: 40px;
  padding-top: 30px;
  border-radius: 38px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  $screenOffset: 18px + 11px;
  $maxWidth: calc(100vw - #{$screenOffset * 2});
  max-width: $maxWidth;

  @media screen and (max-width: 650px) {
    margin: 11px 33px;
  }

  &.mobile {
    width: 100vw;
    height: 508px;
  }

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      margin: 0;
      margin-top: 10px;
      color: var(--primary-text-color);
      @include defaultTransition(color);
    }

    .icon {
      padding: 17px;
      border-radius: 99px;
      border: 1px solid #E7E7E7;
      display: flex;
      justify-content: center;
    }
  }

  p {
    font-size: 16px;
    color: var(--secondary-text-color);
    @include defaultTransition(color);
    margin-top: 20px;

    @supports (-webkit-line-clamp: 5) {
      flex: unset;
      -webkit-line-clamp: 5;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .revenue {
    margin-top: auto;
    margin-bottom: 22px;
    color: var(--primary-text-color);
    @include defaultTransition(color);
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    & > * {
      border-radius: 99px;
    }

    & > *:nth-child(1) {
      width: 149px;
    }

    & > *:nth-child(2) {
      width: 161px;
    }

    @media screen and (max-width: 430px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}