.admethods {
  width: var(--block-width);

  .container {
    display: flex;
    gap: 100px;

    @media screen and (max-width: 960px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 650px) {
      gap: 20px;
    }

    .decorations {
      position: relative;
      width: 670px;
      height: 500px;

      @media screen and (max-width: 1200px) {
        width: 450px;
        height: 622px;
      }

      @media screen and (max-width: 960px) {
        width: 100%;
        height: 500px;
      }

      & > * {
        position: absolute !important;
        display: block !important;
      }

      @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: column-reverse;
        position: static;
        height: fit-content;

        & > * {
          position: static !important;

          span, img {
            width: 100% !important;
          }
        }
      }

      .card1 {
        left: 0;
        top: 0;
        
        @media screen and (max-width: 1200px) and (min-width: 961px) {
          top: 40px;
        }
      }

      .card2 {
        left: 229px;
        top: 185px;

        @media screen and (max-width: 1200px) and (min-width: 961px) {
          left: -50px;
          top: 306px;
        }
      }
      
      .card3 {
        right: 0px;
        top: 0px;
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 14px;

      div {
        display: flex;
        flex-direction: column;
        
        h6 {
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.01em;
          margin: 0;
          margin-top: 14px;
          display: block;
          color: var(--primary-text-color);
        }

        p {
          color: var(--secondary-text-color);
          margin: 0;
          margin-top: 14px;
          font-size: 16px;
        }
      }
    }
  }
}