@import './util.scss';
// @import './fonts.scss';
@import '../public/static/fonts/SFProDisplay/stylesheet.css';
@import '../public/static/fonts/SFProText/stylesheet.css';

html {
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  background-color: var(--page-background) !important;
  @include defaultTransition(background-color);
}

html,
body,
#__next {
  height: 100%;
}

html.noOverflow {
  overflow-y: hidden;

  body {
    overflow-y: hidden;
  }
}

body {
  --page-background: #FFFFFF;
  --primary-text-color: #303030;
  --secondary-text-color: #6D6D6D;
  --card-background: #FFFFFF;
  --border-color: #EEEEEE;
  --logo-color: #232232;
  --secondary-border-color: #F5F5F5;
  --absolute-text-color: #000000;
  --text-color-light-gray: #B6B6B6;
  --input-border-color: #EBEBEB;
}

body.dark {
  --page-background: #19222B;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #FFFFFF;
  --card-background: #212C37;
  --border-color: transparent;
  --logo-color: #FFFFFF;
  --secondary-border-color: #25323F;
  --absolute-text-color: #ffffff;
  --input-border-color: #6B7681;
}

body {
  --sides-margin: 0px;
  --block-width: 1230px;
  
  @media screen and (max-width: 1300px) {
    --sides-margin: 40px;
    --block-width: calc(100% - calc(var(--sides-margin) * 2));
  }
  
  @media screen and (max-width: 650px) {
    --sides-margin: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// .slider-wrapper {
//   width: calc(100% + 30px); //we need more width for the shadows on the edges
//   padding: 0 15px; //space for the shadows
//   margin-left: -15px; //put the div in its original position
//   overflow: hidden; //hide the overflow
// }
