.container {
  background-image: url(../public/static/background.svg);
  background-position: center top;
  background-repeat: no-repeat;
  // height: 7686px;
  overflow-x: hidden;

  padding-top: 160px;

  @media screen and (max-width: 1200px) {
    padding-top: 120px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}