$defaultTimingFunction: ease-in-out;
$defaultDuration: 200ms;

@mixin defaultTransition($properties) {
  // transition: $property $defaultDuration $defaultTimingFunction;
  transition-duration: $defaultDuration;
  transition-timing-function: $defaultTimingFunction;
  transition-property: $properties;
}